#google-ads, 
#HomepageAdSpace, 
#sideAd,
.ads {
	display:none !important;
}

.sold {
	background:#D4FFD4 !important;
}

#ListViewList {
	display:none;
}

#HomepageAdSpace, 
#sideAd, 
#SiteHeader_SidebarColumn, 
#divSrAd,
.region-links,
#BreadcrumbsContainer {
	display:none !important;
}

#manipulatedContainer, #mainContent, #container, #ListingsTitle_ListingTitleBar {
 width:100% !important;
}

.listingImage img {
	max-width:120px;
}

#statistics.fixed {
    position: fixed;
    top: 0;
    background: #FFF;
    width: 100%;
    padding: 15px;	
	border-bottom:1px solid #CCC;
	left:0;
}